<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"/>
    
    <title>Earendil</title>
</head>
<body>
    <nav class="nav">
        <div class="title">Earendil</div>
    </nav>
    <div>Earendil Nginx mysql/mongodb redis</div>
    <section class="top_sec">
        <div class="login">
            <h3>登入</h3>
            <div>帳號</div>
            <div>
                <input type="email">
            </div>
            <div>密碼</div>
            <div>
                <input type="password">
            </div>
            <div>
                <input type="text" placeholder="暱稱">
            </div>
            <button class="login_btn">登入</button>
        </div>
    </section>
    <section class="bot_sec">
        <div class="sign_up">
            <h3>註冊</h3>
        </div>
    </section>


    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>